<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Start</title>
    <!-- <meta http-equiv="refresh" content="3"> -->

    <link rel="stylesheet" href="../static/start.css">
</head>
<body>
  <div class="container">
      <h2>
        QuizMaster
    </h2>
    <h3>
       Name : {{name}}
    </h3>
    <p>
        Number of questions : {{amount}}
    </p>
    <p>
        Category : {{category}}
    </p>
    <p>
        Difficulty : {{difficulty}}
    </p>
  
   <a href="{{url_for('startexam',name=name)}}">
        Click to start
   </a
   >
   <!--amount=amount,category=category,difficulty=difficulty-->
  </div>
</body>
</html>
 
</body>
</html>